
				<%= simple_form_for @invoice do |f| %>  =
           <%= f.input :reference %>
           <%= f.input :invoice_date %>
           <%= f.input :customer %>
           <%= f.input :brandmanager %>  
           <%= f.input :narration %>
           <%= f.input :amount %> 
           <%= f.input :totalcollection %>
           <%= f.button :button, " submit", class: "btn-primary" %>
     			</form>
		<% end %>
		

 
