
<%= link_to '<button type="button" class="btn btn-primary">Add new bill</button>'.html_safe,new_invoice_path %>

<button type="button" class="btn btn-primary" onclick="myFunction2()">Show pending bills</button>

<button type="button" class="btn btn-primary" onclick="function show()"> Show collected bills </button>

<table class = table>
	<thead>
      <tr>
        <th>References</th>
        <th>Invoice Date</th>
        <th>Customer</th>
        <th>brandmaster</th>
        <th>Narration</th>
        <th>Amount</th>
        <th>Total collection</th>
        <th>Balance due</th>
      </tr>
    </thead>
  <% @invoices.each do |invoice| %>

    <tbody>
    <tr>
          <td><%= link_to invoice.reference, invoice_path(invoice) %></td>
           <td><%= invoice.invoice_date %></td> 
           <td><%= invoice.customer %></td> 
           <td><%= invoice.brandmanager %></td>  
           <td><%= invoice.narration %> </td>
           <td><%= invoice.amount %> </td>
           <td><%= invoice.totalcollection +=  invoice.totalcollection  %> </td>
           <td><%=  invoice.balance_due = invoice.amount - invoice.totalcollection   %> </td>
           <td><%= link_to'<button type="button" class="btn btn-primary"> Add collection</button>'.html_safe,edit_invoice_path(invoice) %> </td>
                   
    </tr>
    </tbody>
  <% end %>
</table>
<table class = table>
  <table id = invoice>
  <thead>
      <tr>
        <th>References</th>
        <th>Invoice Date</th>
        <th>Customer</th>
        <th>brandmaster</th>
        <th>Narration</th>
        <th>Amount</th>
        <th>Total collection</th>
        <th>Balance due</th>
      </tr>
    </thead>
  <% @invoices.each do |invoice| %>
 <% if invoice.balance_due == 0  %>
    <tbody>
    <tr>
          <td><%= link_to invoice.reference , invoice_path(invoice) %></td>
           <td><%= invoice.invoice_date %></td> 
           <td><%= invoice.customer %></td> 
           <td><%= invoice.brandmanager %></td>  
           <td><%= invoice.narration %> </td>
           <td><%= invoice.amount %> </td>
           <td><%= invoice.totalcollection %> </td>
           <td><%= invoice.balance_due %> </td>
           <td><%= link_to'<button type="button" class="btn btn-primary"> Add collection</button>'.html_safe,new_invoice_path %> </td>
                   
    </tr>
    </tbody>
  <% end %>
    <% end %>
</table>

<table class = table>
  <table id = pending>
  <thead>
      <tr>
        <th>References</th>
        <th>Invoice Date</th>
        <th>Customer</th>
        <th>brandmaster</th>
        <th>Narration</th>
        <th>Amount</th>
        <th>Total collection</th>
        <th>Balance due</th>
      </tr>
    </thead>
  <% @invoices.each do |invoice| %>
 <% if invoice.balance_due > 15000  %>
    <tbody>
    <tr>
          <td><%= link_to invoice.reference , invoice_path(invoice) %></td>
           <td><%= invoice.invoice_date %></td> 
           <td><%= invoice.customer %></td> 
           <td><%= invoice.brandmanager %></td>  
           <td><%= invoice.narration %> </td>
           <td><%= invoice.amount %> </td>
           <td><%= invoice.totalcollection %> </td>
           <td><%= invoice.balance_due %> </td>
           <td><%= link_to'<button type="button" class="btn btn-primary"> Add collection</button>'.html_safe,new_invoice_path %> </td>
                   
    </tr>
    </tbody>
  <% end %>
    <% end %>
</table>


<button </button>
<script>
function myFunction(invoice) {
  var x = document.getElementById("invoice");
  if (x.style.display == "none") {
    x.style.display = "block";
  } 
  else {
    x.style.display = "none";
  }
}
</script>

<script>
function myFunction2() {
  var x = document.getElementById("pending");
  if (x.style.display == "none") {
    x.style.display = "block";
  } 
  else {
    x.style.display = "none";
  }
}
</script>



