<% if @balance_due == 0 %>
<table class="table">
  <% @invoices.each do |invoice| %>
  <thead>
      <tr>
        <th>References</th>
        <th>Invoice Date</th>
        <th>Customer</th>
        <th>brandmaster</th>
        <th>Narration</th>
        <th>Amount</th>
        <th>Total collection</th>
        <th>Balance due</th>
         <th>  </th>
      </tr>
    </thead>
    <tbody>
    <tr>
          <td><%= link_to invoice.reference, invoice_path(invoice) %></td>
           <td><%= invoice.invoice_date %></td> 
           <td><%= invoice.customer %></td> 
           <td><%= invoice.brandmanager %></td>  
           <td><%= invoice.narration %> </td>
           <td><%= invoice.amount %> </td>
           <td><%= invoice.totalcollection %> </td>
           <td><%= invoice.balance_due %> </td>
           <td><%= link_to'<button type="button" class="btn btn-primary"> Add collection</button>'.html_safe,new_invoice_path %> </td>
                   
    </tr>
    </tbody>
  <% end %>